// Colors
$blue_dark: #000066;
$blue_sky: #00ccff;
$coal: #354052;

$grey_twilight: #333;
$red_boston_university: #c00;

$font-family-sans-serif: 'Fira Sans', sans-serif;

$headings-margin-bottom: 1.2rem;

$navbar-brand-font-size: 1.2rem;
$navbar-dark-color: #ffffff;
$navbar-dark-active-color: #ffffff;

$body-color: $coal; // #333
