

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-size: 0.8667em;
    .breadcrumb-item {
        a, &.active {
            color: #bbbbbb;
            text-decoration: none;
        }
        a:hover,
        a:focus {
            color: $heavenly;
        }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: 0.5rem;
        color: #dddddd;
        content: "\2014";
    }
}

.side {
    .list-group-item {
        padding: 1rem 1rem;
        &.active {
            background-color: $heavenly;
            border-color: $heavenly;
        }
    }

}

.list-advantage {
    margin: 30px 0 15px;
    padding: 0;
    & li {
        display: inline-block;
        margin-right: -3px;
        width: 50%;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 500;
        color: #232e44;
        padding-left: 30px;
        position: relative;
        margin-bottom: 15px;
        vertical-align: top;
        &:before {
            content: '';
            width: 25px;
            height: 25px;
            background-color: #f3fff4;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            left: 0;
            background-image: url(/icons/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 11px 11px;
        }
    }
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;

    &-title {
        font-weight: 600;
    }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    position: relative;
    bottom: 3rem;
    z-index: 10;
    left: 0;
    top: 0;
}

/* Declare heights because of positioning of img element */
.carousel-item {

}
.carousel-caption {
    //border-radius: 30px;
    padding: 60px;
}

.carousel-control-prev {
    //left: 60px;
    //z-index: 30;
    &-icon {

    }
}
.carousel-control-next {
    //right: 60px;
    //z-index: 30;
    &-icon {

    }
}
.carousel-indicators {
    z-index: 30;
}

.twitter-section {
    border: 1px solid $heavenly;
}
